.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

* {
  transition: all 0.2s ease-in-out;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
}

h1 {
  font-size: calc(24px + 3vmin);
  font-weight: 400;
}

h2 {
  font-size: calc(12px + 3vmin);
  font-weight: 200;
}

.App-body {
  max-width: 800px;
  padding-bottom: 120px;
}

.App-link {
  color: #61dafb;
}

::selection {
  background-color: lightgray;
}